<html>
    <head>
        <style type="text/css" scoped>

        #reusable1{
            width: 100%;
            height:auto;
        }
      
        .bar {
          fill: steelblue;
        }

        .bar:hover {
          fill: brown;
        }

        .axis {
          font: 10px sans-serif;
        }

        .axis path,
        .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }

        .x.axis path {
          display: none;
        }
        </style>
        <link rel='stylesheet' href='{{baseurl}}styles-public/custom/demo.css'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
        <script src="{{baseurl}}scripts/custom/chartfactory.js"></script>
    </head>
    <body>
        <h1>Results</h1>    
        <div class='row'>
            <div class='col-md-4'>
                <div id='reusable1'>         
                </div>
            </div>
            <div class='col-md-4'>
            could be another chart    
            </div>
            <div class='col-md-4'>
            could be another chart     
            </div>
        </div>
        <script>

        var q1 = {{q1};
        var q2 = {{q2}};
        var q3 = {{q3}};
        var q4 = {{q4}};
        var q5 = {{q5}};
        var q6 = {{q6}};
        var q7 = {{q7}};
        var q8 = {{q8}};
        var q9 = {{q9}};
        var q10 = {{q10}};
        var q11 = {{q11}};

        var bardata = [];
        var q7title = '';

        for (var key in q7) {

            if(q7[key][2] === ''){

               q7[key][2] = 0;
            }

            if(q7title.length === 0){

                q7title = q7[key][0];

            }

            bardata.push({ label: q7[key][1].substring(1, q7[key][1].length -1) , value: parseInt(q7[key][2]) });

        }

        if(hasNotNull(bardata)){

            chartfactory.createBarChart(bardata, 'reusable1', q7title);

        }else{

            appendNoData([{id: 'reusable1', title: q7title}]);

        }


        function appendNoData(input){

            input.forEach(function(element){

                $('#'+element.id).append('<h6>'+element.title+'</h6><p>No data</p>');

            })

        }

        function hasNotNull(input){

            var isnotnull = false;

            input.forEach(function(element){

                if (element.value > 0){

                    isnotnull = true;

                }

            })

            return isnotnull;

        }

        </script>
    </body>
</html>